.benefits {
  height: 100vh;

  &__title {
    margin-bottom: 30px;
  }

  &__general {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__item {
    font-size: 28px;
    line-height: 1.3;
    color: $currentColor;
    margin-bottom: 15px;
  }
}
