$colorText: #757575;
$colorH2-h3: #212121;
$colorFocus: #f4707b;
$colorFeature: #f5f4fa;
$colorCliets: #afb1b8;
$colorFooter: #2f303a;
$generalAnimation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$whiteColor: #fff;
$currentColor: #d41443;
$blackColor: #000;
$colorSenks: #8a1c36;
